<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>result</key>
	<array>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583083</string>
			<key>movieName</key>
			<string>诡八楼</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583083</string>
			<key>movieName</key>
			<string>诡八楼</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583246</string>
			<key>movieName</key>
			<string>摩登森林</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583181</string>
			<key>movieName</key>
			<string>龟兔再跑</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583247</string>
			<key>movieName</key>
			<string>森林孤影</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583542</string>
			<key>movieName</key>
			<string>从哪来，到哪去</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583092</string>
			<key>movieName</key>
			<string>有一天</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583163</string>
			<key>movieName</key>
			<string>兰辉</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583077</string>
			<key>movieName</key>
			<string>触不可及</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583084</string>
			<key>movieName</key>
			<string>死亡派对</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
		<dict>
			<key>pic_url</key>
			<string>http://v.juhe.cn/movie/picurl?2583157</string>
			<key>movieName</key>
			<string>女生宿舍</string>
			<key>movieId</key>
			<string>216609</string>
		</dict>
	</array>
	<key>status</key>
	<string>1</string>
</dict>
</plist>
